# .NET
*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tlog
*.lib
*.sbr
*.sdf
ipch/
obj/
bin/
Debug/
Release/
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
*.dbmdl
[Tt]est[Rr]esult*/
[Ll]og/
[Ll]ogs/
*.log
*.bak
*.VS2019/
.vscode/
*.suo
*.user
*.userosscache
*.suo
*.sln.docstates

# Rider
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.suo
*.sln.docstates
